.demos-outer {
    background-color: var(--blue);
}
.demo-heading {
    color: var(--white);
    font-size: 3em;
    text-align: center;
    margin: 2em;
    font-weight: bold;
}
.demo-title {
    color: var(--red);
}
.demo-media {
    width: 73%;
}
.demo-media > video {
    max-width: -webkit-fill-available;
    width: 100%;
}

.demo-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--lightgrey);
}

.demo-item-first {
    width: 25%;
}
