<div class="template-wrapper about-outer" id="about-outer">
  <div class="about-logo"><b>{{.AppName}}</b>?</div>
  <!-- <div class="about-logo"><div class="bolt-logo">Σ </div>firma</div> -->
  <!-- <div class="about-bolt-logo"> ⚡︎  </div> -->
  <div class="about-inner">
    <h3>ABOUT</h3>
    <p class="aboutP">
      <b>{{.AppName}}</b> is an advanced software development and consulting 
      firm, operating at the intersection of technological innovation and 
      strategic business transformation. We target industry leaders seeking 
      custom solutions for optimizing and enhancing critical infrastructure 
      components. We offer consultation services and specialize in full stack 
      software engineering, including product development, deployment, and 
      management. <b>{{.AppName}}</b> can design, create, and deploy local and cloud
      based applications in as little as minutes, and for less than you think.  
    </p>
    <h3>DEVOPS, MICROSERVICES, & <br> CONTINUOUS DELIVERY & INTEGRATION</h3>
    <p>
      The first stage of our development cycle consists of analyzing a 
      project's scope and designing a linear workflow around it, aiming for 
      completion within the client's time-frame and budget. Complex tooling 
      often requires a myriad of finely-tuned and optimized services working in 
      unison. <b>{{.AppName}}</b> designs, creates, deploys, and maintains these 
      services, and helps teams do the same. Our product delivery process 
      implements a continuous integration and deployment pipeline, automating 
      and streamlining builds, tests, security audits, version control, 
      backups, staging, deployments, and other workflow mechanisms, using 
      state-of-the-art cloud-based solutions, microservices, and unique, custom
      tooling, to quickly and reliably deliver fully functional products to 
      end-users.
    </p>

    <h3>DATA REFINEMENT</h3>
    <p>
      Data refinement is the process of analyzing and transforming data into 
      useful, valuable information. Our company can help your company build 
      <a href="https://github.com/sigma-firma/" target="_blank">tools</a> for data mining and
      analysis, capable of exposing and extracting 
      valuable insights and hidden statistics, revealing long-term and 
      achievable avenues of revenue, and ultimately forming foundational 
      components of sustainable economic growth.
    </p>

    <h3>SERVICES</h3>
    <ul class="skills-ul">
      <li>Product consultation & design</li>
      <li>Product research & development</li>
      <li>Product deployment & management, locally or on the cloud</li>
      <li>Microservice & component based architectures</li>
      <li>Continuous integration & development workflows for advanced tooling</li>
      <li>Data scraping & analysis</li>
      <li>Infrastructure & task automation</li>
      <li>Financial integrations, stock analysis tools, & trend detection services</li>
      <li>REST API's & http(s) servers</li>
      <li>Database design & administration</li>
      <li>Security assessments</li>
      <li>DevOps</li>
    </ul>
    <h3>WE ARE THE BEST</h3>
    <p>
      Does your business need an advanced website or data analysis 
      tools? Are you trying to develop a new product but need help
      designing the software? Does your business need to integrate 
      data from multiple sources? Could automating tasks or monitoring 
      data fluctuations increase your businesses profits?
      <b>{{.AppName}}</b> can help your company design and build products 
      that can streamline these actions and increase your businesses profits. 
      Contact us for a free consultation, and find out how we can transform 
      your business TODAY.
    </p>
  </div>
  <div class="about-bolt" id="about-bolt">⚡︎</div>

  <style>{{ template "about.css" . }}</style>
  <script>{{ template "about.js" . }}</script>
</div>
