.about-outer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: linear-gradient(358deg, #ffffff 81%, transparent 100%);
    margin-top: 100vh;
}
li {
    margin: 0 2em 0.5em 0;
    font-size: 1.25em;
    text-align: left;
}
.about-inner {
    text-align: justify;
    z-index: 5;
    margin-right: 2em;
    margin-left: 2em;

}
.about-inner > h3 {
    text-align: center;
    color: var(--red);
    margin-top: 2em;
}
.about-inner > p {
    padding-bottom: 1em;
    font-size: 1.25em;
    font-weight: 200;
    line-height: 1.4em;
}
.about-logo {
    color: black;
    font-size: 3em;
    margin-top: 3em;
    font-weight: bold;
}
.about-chart {
    background-image: url(public/media/chart.svg);
    background-position: center;
    height: 35vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3em 0 2em 0;

}
@media screen and (orientation:portrait) {
    .about-inner {
        width: calc(100vw - 4em);
    }
    li {
        font-size: 1em;
    }
    .about-inner > p {
        font-size: 1em;
    }
    .about-chart {
        height: 63vw;
    }
}
