.about-outer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: linear-gradient(358deg, #ffffff 81%, transparent 100%);
    padding: 2em;
    margin-top: 100vh;
}

li {
    margin-bottom: 0.5em;
    margin-right: 2em;
    text-align: left;
    font-size: 1.25em;
}

.about-inner > h3 {
    text-align: center;
    color: var(--red);
    margin-top: 2em;
}

.about-inner {
    /* margin-top: 5em; */
    text-align: justify;
    z-index: 5;
    position: relative;

    max-width: 80ch;
}
.about-chart {
    background-image: url(public/media/flow.png);
    background-position: center;
    height: 35vw;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    /* max-width: 86ch; */
    /* max-height: 50em; */
    margin: 3em 0 2em 0;

}

.about-inner > p {
    padding-bottom: 1em;
    font-size: 1.25em;
    font-weight: 200;
}

.about-logo {
    color: black;
    font-size: 3em;
    text-align: center;
    margin-top: 3em;
    z-index: 5;
    font-weight: bold;
    position: relative;
    transform: translateX(0.15em);
}

.about-bolt-logo {
    line-height: 1px;
    font-size: 40em;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin-left: 21vw;
    margin-top: -9vh;
    font-weight: bold;
    height: 3em;
    max-width: 100vw;
    color: #fcff87;
    text-shadow: 20px 19px #f4904f;
}

/* @media screen and (orientation:landscape) { */
/*     max-width: 80ch; */
/* } */
@media screen and (orientation:portrait) {
    .about-inner {
        margin-right: 2em;
        margin-left: 2em;
        width: calc(100vw - 4em);
    }
    .about-bolt-logo {
        margin-left: 0;
    }
    .about-outer {
        background: linear-gradient(358deg, #ffffff 90%, transparent);
        background: linear-gradient(358deg, #ffffff 75%, transparent 97%);
        width: 100vw;
        padding: unset;
    }
    li {
        font-size: 1em;

    }

    .about-inner > p {
        font-size: 1em;
    }
    .about-chart {

        height: 63vw;
    }
}
.about-bolt {
    font-size: 47em;
    text-align: center;
    color: #fff400;
    z-index: -3;
    height: 0;
    animation: 350ms linear strike;
    animation-fill-mode: forwards;
    position: absolute;
    width: 100%;
    top: -1em;
    left: 1em;
    font-weight: 900;
}

@keyframes strike {
    100% {transform: translateX(-1.3em) translateY(70vh);}
}
