<div class="template-wrapper about-outer" id="about-outer">
  <div class="about-logo">berg<br>haus</div>
<div class="about-bolt-logo"> ⚡︎  </div>
    <div class="about-inner">

          <h3>ABOUT</h3>
          <p class="aboutP">
  <b>{{.AppName}}</b> is an advanced software and consulting firm operating at
     the intersection of technological innovation and strategic business
     transformation. We specialize in full stack project 
     development, management, and consultation. {{.AppName}} can design, create, 
     and deploy web, cloud, and server based applications.

     {{.AppName}} also specializes in devOps, microservice and component based
     architectures, and continuous delivery systems for companies and 
     organizations building internal and cloud based software.

     Typically, development consists of a multi-step process which starts with 
     analyzing the projects scope and designing a linear workflow for 
     completing the project within a clients time-frame and budget. This may 
     include pre-project planning such as building a development team (if 
     neccessary) and procurement of essential resources. After the planning 
     phase, the project is built to the clients exact specifications, tested, 
     and finally deployed, using the most appropriate state-of-the-art 
     deployment solution. 
          </p>

          <h3>FULL STACK DEVELOPMENT</h3>
          <p class="aboutP">
     {{.AppName}} generally plans for a component based 
     architecture, either directly through template composition or with a third 
     party framework such as React. All projects are designed for long term
     growth and simple maintenance.
     New projects are designed using the Go programming language for the 
     back-end architecture. 
          </p>

          <h3>DEVOPS, MICROSERVICES, AND <br> CONTINUOUS DELIVERY/INTEGRATION</h3>

          <p class="aboutP">
     Most projects only expose a small percentage of their scope to the client.
     For a complex project to work properly there is often many services 
     running behind the scenes and {{.AppName}} can design, 
     create, deploy, and maintain these services, or help your team do so.
     {{.AppName}} implements microservices using the Go 
     programming language. Continuous delivery and integration is implemented 
     by planning and building microservices for each action needed for CD/CI, 
     including unit tests, security audits, version control and backups, 
     staging, final deployment, and whatever other actions maybe neccessary for
     your project. 
</p>

          <h3>SERVICES</h3>
          <ul class="skills-ul">
             <li>Sofware development using the Go programming language, Linux, 
                 JavaScript, CSS, HTML, Git, Vim, and other tools</li>
             <li>Project management using cloud services such as Google Cloud
                 Platform, and Amazon Web Services</li>
             <li>Research & Development</li>
             <li>Leadership, working with teams, and working independently</li>
             <li>Database management using Redis and MongoDB</li>
             <li>Component based software architecture using templating or a 
                 third party framework such as React</li>
             <li>Project deployment and maintenance on the cloud</li>
             <li>Microservices and back-end tools, including shell scripts and 
                 small programs used for testing and deployment</li>
          </ul>
    </div>
<style>{{ template "about.css" . }}</style>
<script>{{ template "about.js" . }}</script>
</div>
