.term-outer {
    border-radius: 0.6em;
    background-color: #5f5567;
    animation: 1s linear expando;
    animation-delay: 0.5s;
    margin-top: 7em;
    animation-fill-mode:forwards;
    padding: 1em;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 7px 7px #8a7e709e;
    overflow: hidden;
  max-width: -webkit-fill-available;
}

.term-inner {
    margin: 1em;
    font-size: 1.3em;
    font-family: monospace;
    color: #dbdddd;
}
.command {
    color: #dbdddd;
    font-size: 1.2em;
    font-family: monospace;
}


.carat {
    width: 0.5em;
    height: 1.5em;
    background-color: #cd5b5b;
    padding: 0 0.1em;
    animation: 400ms linear infinite blinky;
}

.trick {
    width: 14em;
    height: 1.5em;
    background: #5f5567;
}


.carat-trick {
    position: absolute;
    margin-left: 1.93em;
    height: 1.5em;
    animation: 2s linear typing;
    display: flex;
    animation-delay: 2s;
    animation-fill-mode:forwards;
}
@keyframes blinky {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes typing {
    0% { margin-left: 1.93em; }
    100% { margin-left: 15.73em; }
}

@keyframes expando {
    0% {
        width: 0ch;
        height: 0ch;
        opacity: 0;
    }
    100% {
        width: 52ch;
        height: 5.5ch;
        opacity: 1;
    }
}
