@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
:root {
  --html-bg: hsl(44.86deg 11.08% 77.82%);
  /* --red: #c05c3f; */
  --red: #ff9660;
  --blue: #00aebc;
  --green: green;
  --yellow: yellow;
  --orange: orange;
  --purple: purple;
  --darkgrey: #535353;
  --lightgrey: #f6f6f6;
  --white: white;

}
body, html {
  margin: 0;
  font-family: "Outfit", serif;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: var(--blue);
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1em 0em 0 0em;
  /* align-items: center; */
}
@media screen and (orientation:portrait) {
}
@media screen and (orientation:landscape) {
  body, html  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .wrapper {
    max-width: 80ch;
  }
}
