/* @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fira+Mono:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
:root {
  --red: #ff9660;
  --blue: #00aebc;
  --green: green;
  --yellow: yellow;
  --orange: orange;
  --purple: purple;
  --darkgrey: #535353;
  --lightgrey: #ebebeb;
  --white: white;

}
body, html {
  margin: 0;
  font-family: "Outfit", serif;
  display: flex;
  justify-content: center;
  /* font-size: 1em; */
  /* overflow-x: hidden; */
  /* max-width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* align-items: center; */
  /* position: relative; */
}
a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;
}
::selection {
  background: yellow;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* flex-wrap: nowrap; */
  /* margin: 1em 0em 0 0em; */
  align-items: center;
  /* overflow-x: hidden; */
  /* max-width: 100%; */
  /* position: relative; */
}
@media screen and (orientation:portrait) {
  .wrapper {
    max-width: 100%;
  }
}
@media screen and (orientation:landscape) {
  .wrapper {
    max-width: 80ch;
  }
}
