<head>
  <title>{{.AppName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ff9660">
  <link rel="icon" href="public/media/s.svg" type="image/svg" >
  <style>{{ template "head.css" . }}</style>
  <script>{{ template "head.js" . }}</script>
<!-- <!-1- Meta Pixel Code -1-> -->
<!-- <script> -->
<!--   !function(f,b,e,v,n,t,s) -->
<!--   {if(f.fbq)return;n=f.fbq=function(){n.callMethod? -->
<!--   n.callMethod.apply(n,arguments):n.queue.push(arguments)}; -->
<!--   if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; -->
<!--   n.queue=[];t=b.createElement(e);t.async=!0; -->
<!--   t.src=v;s=b.getElementsByTagName(e)[0]; -->
<!--   s.parentNode.insertBefore(t,s)}(window, document,'script', -->
<!--   'https://connect.facebook.net/en_US/fbevents.js'); -->
<!--   fbq('init', '533558105699287'); -->
<!--   fbq('track', 'PageView'); -->
<!-- </script> -->
<!-- <noscript><img height="1" width="1" style="display:none" -->
<!--   src="https://www.facebook.com/tr?id=533558105699287&ev=PageView&noscript=1" -->
<!-- /></noscript> -->
<!-- <!-1- End Meta Pixel Code -1-> -->
<!-- <!-1- Google tag (gtag.js) -1-> -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16847266692"> -->
<!-- </script> -->
<!-- <script> -->
<!--   window.dataLayer = window.dataLayer || []; -->
<!--   function gtag(){dataLayer.push(arguments);} -->
<!--   gtag('js', new Date()); -->

<!--   gtag('config', 'AW-16847266692'); -->
<!-- </script> -->
</head>


