.contact-outer {
    /* min-height: 100vh; */
    /* background: linear-gradient(0deg, #fffeed 70%, transparent); */
    /* background-color: #fffeed; */
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: calc(100% - 2em);
    padding-right: 1em;
    padding-left: 1em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
        margin-top: 5em;
}

.form-items {
    border-radius: 0.3em;
    font-size: 2em;
    padding: 0.4em;
    background: var(--white);
    border: none;
    margin: 0.5em;
    /* max-width: 25ch; */
    /* width: 90%; */
}

.contact-butt {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    cursor: pointer;
}

.contact-cbl {
    margin: 1.5em;
    display: flex;
}
.cbox {
    background-color: unset;
    font-size: 1.2em;
    accent-color: var(--red);
    color: var(--darkgrey);
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

