.contact-outer {
    min-height: 100vh;
    /* background: linear-gradient(0deg, #fffeed 70%, transparent); */
    /* background-color: #fffeed; */
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 3em;
}

.form-items {
    border-radius: 0.3em;
    font-size: 2em;
    padding: 0.4em;
    background: var(--white);
    border: none;
    margin: 0.5em;
    /* max-width: 25ch; */
    /* width: 90%; */
}

.contact-butt {
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    cursor: pointer;
}
