.autosplash-outer {
  height: 87vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 24em;
}
.splash-inner {
  background-image: url(public/media/digi.svg);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  z-index: -1;
  position: fixed;
  width: -webkit-fill-available;
  top:0;
  left:0;
  animation: 5s linear bgzoom;
  animation-fill-mode: forwards;
  color: var(--darkgrey);
  filter: opacity(0.2);
}
/* .autosplash-outer {} */

.splash-logo {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  text-align: center;
  font-size: 6em;
  font-weight: 900;
  padding-top: 20vh;
  animation: 5s ease-out unblur;
  animation-fill-mode: forwards;
  min-width: 6ch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  position: absolute;
  /* text-shadow: 20px 20px 0px #0000004a; */
}
.splash-inner-white {
height: 100%;
    width: 100%;
    position: fixed;
    background: white;
    z-index: -3;
  }
.logo-sub {
  color: #03685f;
  font-size: 1.8em;
  font-weight: bold;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 4em;
  margin-top: 1.2em;
  border-radius: 0.4em;
  backdrop-filter: sepia(1) blur(2.3px);
  background: linear-gradient(45deg, #6affd996, #97ff0087, #ffff008f, #ff561f85, transparent);
}
.autosplash-firma {
  transform: translateX(-20px);
  color: var(--blue);
  font-size: 1.2em;
}
.bolt-logo {
  font-size: 3em;
  color: var(--red);
  display: inline;
  animation: 1s linear boltin;
  animation-fill-mode: forwards;
  transform: translateX(20px) !important;
  z-index: -1;
}
@keyframes bgzoom {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes unblur {
  0% {
    padding-top: 40vh;
  }
  20% {
    padding-top: 10vh;
  }
  100% {
  }
}

@keyframes scalein {
  0% {
  transform: scale(5) rotate(720deg);}
}

@keyframes boltin {
  0% {transform: scale(9); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}
.about-img {
  background-image: url(public/media/orbiter.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10em 2em;
  top: 83vh;
  height: 100vh;
  width: 100vw;
  position: absolute;
  filter: sepia(1) saturate(76.5) hue-rotate(185deg);
}
