.footer-outer {
    background-color: var(--red);
    width: 100%;
}
.footer-inner {
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.gift {
    margin-top: 4em;
    font-size: 0.5em;
    color: #5c5c4e;
}
.footer-logo {
    color: var(--white);
    display: flex;
    flex-wrap: nowrap;
    font-size: 313%;
}
.footer-links {
    font-size: 1.1em;
    align-self: baseline;
    padding: 0 0 1em 1em;
    display: grid;
}
.footer-span > a {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    color: #bd5621;
    align-items: center;
}

.footer-bolt-logo {
    padding: 0 0.5em;
    font-weight: bold;
    color: #5c5c4e;
}
.curlyb {
    color: white;
    font-weight: 200;
    font-size: 1.8em;
    height: 1.4em;
}
.cb1 {
    margin-left: 1em;
}
.cb2 {
    transform: translateY(-0.3em);
}
.oct {
    background-image: url(./public/media/oct.svg);
    background-size: contain;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    filter: invert(0.5) sepia(1) saturate(77.8) hue-rotate(-186deg);
}
.octin {
    margin-left: 4em;
    font-size: 1em;
}
.footer-dev {
    background: var(--white);
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    color: var(--red);
    margin: 0.3em;
}
.footer-span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
