.footer-outer {
    /* background: url(public/media/hubble.jpg); */
    /* background-size: contain; */
    width: 100%;
    /* position: relative; */
    /* height: 100vh; */
    display: flex;
    background-color: var(--red);
flex-direction: column;}
.footer-inner {
    /* height: 100vh; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* animation: hoverin 2000ms linear infinite; */
}
/* .moon { */
/* height: 8vh; */
/*     width: 8vh; */
/*     background: #fff9c9; */
/*     border-radius: 3em; */
/*     position: absolute; */
/*     top: 42vh; */
/*     left: 48vw; */
/*     animation: 3500ms linear infinite orbit; */
/*     background: radial-gradient(circle at 100%, #8bff03bd 25%, #16ffd8cc 50%, #ff01d8d6 75%, #ff0505de 100%); */
/*     font-size: 1.6em; */
/* filter: blur(8px); */
/* } */
.gift {
    margin-top: 4em;
    font-size: 0.5em;
    color: #5c5c4e;
}
.footer-logo {
    color: var(--white);
    display: flex;
    flex-wrap: nowrap;
    font-size: 313%;
}
.footer-links {
    font-size: 1.1em;
    align-self: baseline;
    padding: 0 0 1em 1em;
    display: grid;
}
.footer-span > a {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    color: #bd5621;
    align-items: center;
}

.footer-bolt-logo {
    padding: 0 0.5em;
    font-weight: bold;
    color: #5c5c4e;
}
.curlyb {
    color: white;
    font-weight: 200;
    font-size: 1.8em;
    height: 1.4em;
}
.cb1 {
    margin-left: 1em;
}
.cb2 {
    transform: translateY(-0.3em);
}
.oct {
    background-image: url(./public/media/oct.svg);
    background-size: contain;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    filter: invert(0.5) sepia(1) saturate(77.8) hue-rotate(-186deg);
}
.octin {
    margin-left: 4em;
    font-size: 1em;
}
.footer-dev {
    background: var(--white);
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
    color: var(--red);
    margin: 0.3em;
}
.footer-span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
@keyframes orbit {
    25% {
        transform: translate(15vw, -13vh) scale(0.8);
    }

    50% {
        transform: scale(0.5);
        z-index: -1;
    }
    74% {
        z-index: -1;
    }
    75% {
        transform: translate(-15vw, 13vh);
        z-index: 1;
    }
}
@keyframes hoverin {
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(0.5em);
    }
    100% {
        transform: translateY(0em);
    }
}
